<div class="profile" data-th-fragment="menu-profile-quick-info">
    <div class="profile_pic">
        <img alt="..." class="img-circle profile_img" src="/images/img.jpg">
    </div>
    <div class="profile_info">
        <span>Welcome,</span>
        <h2>Hendi Santika</h2>
    </div>
</div>